body {

  margin: 100px 150px 100px 80px;
  padding: 0 30px 50px 80px;
}

canvas {
  display: block;
  width: 100%; /* Set the canvas width to 100% of its container */
  height: 100%; /* Set the canvas height to 100% of its container */
}

#container{
  position: absolute;
 /* z-index: 2;*/
}



.title {
  font-size: 24px;
  border-bottom: 2px dashed #ffffff;
  padding: 10px 0;
  display: inline-block;
}

.artist {
  font-size: 12px;
  font-style: italic;
  color: #cccccc;
}

.poem {
  width: 500px;
  left: 30px;
}

  .line {
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em; /* Add an indentation to prevent the first line from being justified */
    display: flex;
    justify-content: center;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animated {
  animation: bounce 10s infinite;
  animation: flash 10s infinite;


}


.note {
  font-size: 10px;
  color: #ddd7d7;

}

.comma {
  font-size: 18px;
  margin: 0 5px;
}

.list {
  list-style-type: decimal;
  padding-left: 20px;
}

.list-item {
  margin: 10px 0;
}

/* Experiment with other CSS properties as needed */
